<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ChatRoom">

	<insert id="insertMessage" parameterType="messageDto">
	
		INSERT INTO MESSAGE VALUES(MESSAGE_ID.NEXTVAL, #{message_sender}, #{message_receiver}, #{message_content}, SYSDATE, #{chatroom_id})
	
	</insert>
	
	
	<select id="selectmessageList" resultType="messageDto">
	
		SELECT * FROM MESSAGE WHERE CHATROOM_ID = #{chatroom_id}
	
	</select>

</mapper>
