<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Order">


<insert id="productorderInsert" parameterType="hashMap">
		INSERT INTO PRODUCTORDER(
			ORDERSEQ,
			PRODUCTSEQ, 
			PRODUCTNAME, 
			PRODUCTPRICE, 
			QUANTITY, 
			ORDERAMOUNT, 
			PAYMETHOD, 
			USERSEQ, 
			USERID, 
			RECEIVENAME, 
			RECEIVERPHONE, 
			RECEIVEROADDRESS, 
			RECEIVERRADDRESS, 
			RECEIVERDETAILADDRESS, 
			ORDERDATE
		)
		VALUES(
			ORDERSEQ.NEXTVAL, 
			#{productSeq}, 
			#{productName},  
			#{productPrice},
			#{quantity}, 
			#{orderAmount},
			#{paymethod}, 
			#{userSeq}, 
			#{userId}, 
			#{receiveName}, 
			#{receiverPhone},
			#{receiverOaddress},
			#{receiverRaddress}, 
			#{receiverDetailaddress}, 
			SYSDATE
		)
	</insert>
	
		
	<select id="productorderOne" parameterType="orderDto" resultType="int">
		
		SELECT userSeq, orderSeq, receiveName, receiverPhone, receiverOaddress, receiverRaddress, receiverDetailaddress, orderdate, ROWNUM FROM
		(SELECT userSeq, orderSeq, receiveName, receiverPhone, receiverOaddress, receiverRaddress, receiverDetailaddress, orderdate, ROWNUM 
		FROM productorder
		WHERE orderseq = #{orderseq}
		ORDER BY orderdate DESC) WHERE ROWNUM = 1
	</select>
	
	
</mapper>
